.row-header{
margin:0px auto;
    padding: 0px auto;
}
.row-content{
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}
.row-footer{
    margin:0px auto;
    padding: 0px auto;
    border: 1px floralwhite;
    background-color: transparent;
}
.jumbotron {
    margin: 0px auto;
    padding: 70px 0px 70px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
    background-color: transparent;
}
.navbar-header img{
    width:50px;
    height:50px;
    position:fixed;
    top:0px;
    }
.navbar
{
    margin: 0px auto;
    border: 1px ridge;
    background-color: white;
}