<!DOCTYPE html>
<html lang="en">
<body>
<div id="career">
  <div class="panel panel-primary">
    <div class="panel-body">
      <h2>We are Softhouse</h2>
      <p align="justify">
{{AbsUrl}}

  We are a consultancy company that is excellent at developing solutions with software and developing people and
  businesses. We’ve been doing this since 1996. Today we are one of the leading companies in Scandinavia within Lean &
  Agile. We have a total of 200 employees at sites in Stockholm, Gothenburg, Malmö, Karlskrona and Växjö.

  Softhouse is a privately-owned Swedish company, that shown growth and profitability every year.
  </p>
    </div>
  </div>
</div>
</body>
</html>
