<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
  <title>Softhouse AB</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  </title>
</head>
<body>
<div class="container">
  <div class="row row-content">



    <form name="AddQuestionsForm" ng-submit="SubmitAddQuestionForm()" class="form-horizontal" role="form">
      <div class="form-group form-inline" align="center">
        <label class="control-label">Select the Topic</label>
          <select class='dropdown' name="topic" ng-model="question.topic" style="width: auto; height: auto">
            <option value="" disabled selected>Select the topic</option>
            <option>General</option>
            <option>HTML</option>
            <option>CSS</option>
            <option>AngularJS</option>
            <option>Java</option>
            <option>Python</option>
          </select>
      </div>
      <div class="form-group form-inline" align="center">
        <label for="question" class="control-label">
          Enter the Question
        </label>
          <input type="text" class="form-control" id="question" name="question" ng-model="question.question"
                 placeholder="Enter the question....">
      </div>
      <div class="form-group form-inline" align="center">
        <div class="col-sm-4 col-sm-push-1 panel panel-primary">
          <div class="panel-heading" align="center">
            <label class="control-label panel-title">Enter the Answers</label>
          </div>
          <div class="panel-body" align="center">
            <div class="row"><input name="opa" ng-model="question.opa" type="text" id="opa"></div>
            <br>
            <div class="row"><input name="opb" ng-model="question.opb" type="text" id="opb"></div>
            <br>
            <div class="row"><input name="opc" ng-model="question.opc" type="text" id="opc"></div>
          </div>
        </div>
        <div class="col-sm-4 col-sm-push-3 panel panel-primary">
          <div class="panel-heading" align="center">
            <label class="control-label panel-title">Select the Correct Answer</label>
          </div>
          <div class="panel-body" align="center">
            <div class="row"><input name="corr_op" ng-model="question.corr_op" type="radio" name="opa" value="opa">
            </div>
            <br>
            <div class="row"><input name="corr_op" ng-model="question.corr_op" type="radio" name="opb" value="opb">
            </div>
            <br>
            <div class="row"><input name="corr_op" ng-model="question.corr_op" type="radio" name="opc" value="opc">
            </div>
          </div>
        </div>
      </div>
      <div class="form-group form-inline">
        <div class="col-sm-4 col-sm-push-2" align="center">
          <button type="submit" class="col-sm-6 col-sm-pull-1 btn btn-info-sky">Submit</button>
         </div>
        <div class="col-sm-6 col-sm-push-3" align="center">
          <button type="reset" class="col-sm-6 btn btn-warning ">Reset</button>
        </div>
      </div>

    </form>
  </div>
</div>

</div>

</body>
</html>
