<html>
<body>
<div id="career">
  <p class="dropdown-backdrop">

  <h2>Looking for carreer opportunities?</h2>
  Would you like to develop with us at Softhouse? To the right is a list of job openings (descriptions in Swedish). If
  you don’t find anything suitable but still feel you have both experience and competence to add to our team, please
  don’t hesitate to contact us.
  <br>
  Stockholm->
  Email: Linda Zillén or send a letter to;

  Softhouse Consulting,
  Tegnérgatan 37,
  SE-111 61, Stockholm
  <br>
  Göteborg->
  Email: Lena Green or send a letter to;

  Softhouse Consulting AB,
  Magasinsgatan 18A,
  SE-411 18, Göteborg
  <br>
  Malmö->
  Email: Malmökontoret or send a letter to;

  Softhouse Consulting Öresund AB,
  Stormgatan 14,
  SE-211 20, Malmö
  <br>
  Karlskrona->
  Email: Karlskronakontoret or send a letter to;

  Softhouse Consulting Baltic AB,
  Campus Gräsvik 3A,
  SE-371 75, Karlskrona
  <br>
  Växjö->
  Email: Växjökontoret or send a letter to;

  Softhouse Consulting,
  Willans Park 3,
  SE-352 30, Växjö</p>
</div>
</body>
</html>
