<html>
<body>
<div class="container" id="career">
  <div class="panel panel-primary panel-default">
    <div class="panel-heading custom-panel-heading" align="center">

  <h2>Looking for carreer opportunities?</h2>
    </div>
    <div class="panel-body">
      <p align="justify">
        Would you like to develop with us at Softhouse? To the right is a list of job openings (descriptions in
        Swedish). If
  you don’t find anything suitable but still feel you have both experience and competence to add to our team, please
        don’t hesitate to contact us.<br><strong><h2>We are located at:</h2></strong>
  <br><strong>Stockholm-></strong>Email: Linda Zillén, or send a letter to;
  Softhouse Consulting,
  Tegnérgatan 37,
  SE-111 61, Stockholm
            <br>
        <strong>Göteborg-></strong>
        Email: Lena Green, or send a letter to;

  Softhouse Consulting AB,
  Magasinsgatan 18A,
  SE-411 18, Göteborg
  <br>
        <strong>Malmö-></strong>
        Email: Malmökontoret, or send a letter to;

  Softhouse Consulting Öresund AB,
  Stormgatan 14,
  SE-211 20, Malmö
  <br>
        <strong>Karlskrona-></strong>
        Email: Karlskronakontoret, or send a letter to;

  Softhouse Consulting Baltic AB,
  Campus Gräsvik 3A,
  SE-371 75, Karlskrona
  <br>
        <strong>Växjö-></strong>
        Email: Växjökontoret, or send a letter to;

  Softhouse Consulting,
  Willans Park 3,
  SE-352 30, Växjö</p>
    </div>
  </div>
</div>
</body>
</html>
