<body>
<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading" align="center">
      <h2>Please Verify Your Answers Before You Submit</h2>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-6" align="center"><b>Questions</b></div>
        <div class="col-sm-6" align="center"><b>Answers</b></div>
      </div>
      <form action="" method="get">
        <div class="row">
          <div class="col-sm-6">{{questionGotExam[0].question}}</div>
          <div class="col-sm-6"><input type="checkbox" name="" value="">Deep linking allows you to encode the state of
            application in the URL so that it can be bookmarked.<br>
            <input type="checkbox" name="" value="">Deep linking is a SEO based technique.<br>
            <input type="checkbox" name="" value="">Deep linking refers to linking various views to a central page.<br>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-6">Which of the following is true about ng-disabled directive?</div>
          <div class="col-sm-6"><input type="checkbox" name="" value="">ng-disabled directive can enable a given
            control.<br>
            <input type="checkbox" name="" value="">ng-disabled directive can disable a given control.<br>
            <input type="checkbox" name="" value="">Both of the above.<br>
          </div>
        </div>
        <hr>
        <div class="row" align="center">
          <button class="bg-primary bt"><i class="fa fa-send"></i>&nbsp;&nbsp;&nbsp;Submit the test</button>
        </div>
      </form>
    </div>
  </div>
</div>
</body>

