
<body ng-controller="postExamController">
<div class="container col-sm-6 col-sm-offset-3" align="center">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3>Generate a Test</h3>
    </div>

   <!-- <div class="panel-body">
      <form class="form-horizontal" role="form" action="">
        <div class="form-group">
          <label class="col-sm-4 control-label">Select the Topic</label>
          <div class="col-sm-8" align="center">
               <select class='dropdown'>
                   <option value="" disabled selected>Select the topic</option>
                   <option>HTML 5</option>
                   <option>CSS 3</option>
                   <option>AngularJS</option>
                   <option>Java</option>
                   <option>Python</option>
                 </select>




          </div>
        </div>
        -->


        <div class="form-group">
          <label class="col-sm-4 control-label" align="center">Enter the no. of Questions</label>
          <div>
             <input type="text" ng-model="noOfQuestions">
          </div>
        </div>
        <button class="bg-primary bt" ng-click="operateQuestions()><i class="fa fa-pencil"></i> Generate Exam</button><br>
    <br>
{{Examlink}}


    {{questionForExam}}


    </form>
    </div>
  </div>
</div>
</body>

