<div>
  hello<ol>
  <li ng-repeat="questionShow in showQuestions"
  ng-controller="answerChecking">

    <b>Question:</b><br>{{questionShow.question}}<br>
    <b>Options:</b><br>
    <div class="radio">
      <label>
        <input ng-model="selectedoption" type="radio" name="A" ng-value="'opa'">
        A: {{questionShow.opa}}
      </label>
    </div>

    <div class="radio">
      <label>
        <input ng-model="selectedoption" type="radio" name="B" ng-value="'opb'">
        B: {{questionShow.opb}}
      </label>
    </div>

    <div class="radio">
      <label>
        <input ng-model="selectedoption" type="radio" name="C" ng-value="'opc'">
        C: {{questionShow.opc}}
      </label>
    </div>
    </li>
  </ol>
  </div>
