<body>
<div class="container col-sm-6 col-sm-offset-3" align="center">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3>Generate a Test</h3>
    </div>

    <div class="panel-body">

    <!--  <p> {{noOfQuestions}}</p>
      <p> {{allQuestions}}</p>
-->
      <table>
        <tr>
          <th>Topic</th>
          <th>No Of Questions</th>
        </tr>
        <tr ng-repeat="t in questionDetails">
          <td >{{t.topic}}</td> <!--ng-model="noOfQuestions.topic"-->
          <td><select ng-model="noOfQuestions[$index].size" class='dropdown'>
            <option  ng-repeat="n in range(1,t.maxNo)"  ng-click="operateQuestions()">{{n}}</option>
          </select></td>

        </tr>
      </table>

      <br>
      <button class="btn-warning btn" ng-click="operateQuestions()"><i class="fa fa-pencil"></i> Generate Exam</button>
      <br>
      <br>
      <a ng-href="{{Examlink}}" target="_blank">{{Examlink}}</a>


      <!--</form>-->
    </div>
  </div>
</div>
</body>

