<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
    <title>Softhouse AB</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </title>
</head>
<body ng-controller="takeExam">
<div class="container">
  <div class="panel panel-primary panel-default">
    <div class="panel-heading custom-panel-heading" align="center">
      <h3>Instructions to the candidates</h3>
    </div>
    <div class="panel-body instruction">
      <div>
        <div>
          <strong>Before the test day at digital tests</strong>
        </div>
        <div>
          <ol>
            <li>Please make sure that:</li>
            <ul>
              <li>you have an active user account at softhouse</li>
              <li>you remember the password for your account. If you have forgotten your password, you can change it at
                www.softhouse.se.
              </li>
              <li>If you are using your personal laptop, please make sure that you have installed the necessary software
                and programs before the test day.
              </li>
            </ul>
          </ol>
        </div>
      </div>
      <div>
        <div>
          <strong>Before the test starts</strong>
        </div>
        <div>
          <ol>
            <li>Make sure you login at least 15 minutes before the start of the test</li>
            <li>The test starts at the moment the book control begins</li>
            <li>When using a laptop at digital tests, the laptop has to be set up as soon as possible.</li>
            <li>If you are taking a law exam, the laptop must be set up before the book control.</li>
            <li>Coats, backpacks, bags, etc. must be placed as directed. Mobile phones, mp3 players, smartwatches and
              other electronic devices must be turned off and put away, and cannot be stored in coats or pockets.
            </li>
            <li>If support material, other than that which is specifically permitted, is found at or by the desk, it may
              be treated as an attempt to cheat and relevant procedures for cheating will be followed.
              The head invigilator will provide information about test support materials that you are permitted to use
              during the test.
            </li>
          </ol>
        </div>
      </div>
      <div>
        <div>
          <strong>During the test</strong>
        </div>
        <div>
          <ol>
            <li>You are required to comply with the directions given by the head invigilator at the test venue.</li>
            <li>Your student identity card or other valid photo identification must be visible on your desk during the
              entire test
            </li>
            <li>You may keep food and drink on or by the desk during the entire test. You may eat and drink whenever you
              want.
            </li>
            <li>If you wish to withdraw from the test, please note that you are only allowed to do that after 1 hour.
            </li>
            <li>If anything in the test question paper is unclear, you can contact the lecturer visiting the venue.</li>
            <li>Such contact is facilitated by the head invigilator at the venue.</li>
          </ol>
        </div>
      </div>
      <div align="center">

        <button class="btn btn-warning" ng-click="proceedToContinue()"><i class="fa fa-fighter-jet"></i>&nbsp;&nbsp;&nbsp;Proceed
          to Test&nbsp;&nbsp;&nbsp;<i class="fa fa-fighter-jet"></i></button>
        <br><br>
      </div>
    </div>
  </div>
</div>
</body>
</html>
