<html>
<head>
  <link href="../css/template.css" rel="stylesheet">

  <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
  <head>
<body>
<div class="container">
  <div class="row">
  <div class="jumbotron sfdesc">
    <div class="container">
      <div class="row row-header">
        <div class="col-xs-12">
          <h2>SoftHouse Consulting Baltic AB</h2>
          <p style="padding:20px;"></p>
          <p>We take pride in being an exceptionally responsive and flexible supplier that gives you full insight into
            the development of your solution.</p>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="row">
    <div class="panel panel-primary home-panel">
      <div class="panel-body">
    <h2> Partner companies</h2>
        <p style="font-family: 'Times New Roman';font-size: larger;" align="justify">We can work in the ”classic way”
          with cost contract,
      fixed-price or limit order price. We also have ready-made models for payment per sprint or for delivered value.

      Or why not let us take care of your complete solution with development, operation and maintenance? Then you can
      devote yourself to what matters most—your customers and your business. Contact us so we can tell you about some of
      our customer cases.We share a valuable bond with our partners. Our customers come from a variety of industries,
      the emphasis being on telecommunications and technology industries. Here are some examples:</p>
    Bitbucket <i class="fa fa-bitbucket"></i>&nbsp;&nbsp;&nbsp;&nbsp;
    Dropbox <i class="fa fa-dropbox"></i>&nbsp;&nbsp;&nbsp;&nbsp;
    Facebook <i class="fa fa-facebook"></i>&nbsp;&nbsp;&nbsp;&nbsp;
        Flickr <i class="fa fa-flickr"></i>&nbsp;&nbsp;&nbsp;&nbsp;
    Foursquare <i class="fa fa-foursquare"></i>&nbsp;&nbsp;&nbsp;&nbsp;
        Github <i class="fa fa-github"></i>&nbsp;&nbsp;&nbsp;&nbsp;
        Google <i class="fa fa-google"></i>&nbsp;&nbsp;&nbsp;&nbsp;
    Instagram <i class="fa fa-instagram"></i>&nbsp;&nbsp;&nbsp;&nbsp;
        LinkedIn <i class="fa fa-linkedin"></i>&nbsp;&nbsp;&nbsp;&nbsp;
        Pinterest <i class="fa fa-pinterest"></i>&nbsp;&nbsp;&nbsp;&nbsp;<br>
        Reddit <i class="fa fa-reddit"></i>&nbsp;&nbsp;&nbsp;&nbsp;
        Skype <i class="fa fa-skype"></i>&nbsp;&nbsp;&nbsp;&nbsp;
        Sound Cloud <i class="fa fa-soundcloud"></i>&nbsp;&nbsp;&nbsp;&nbsp;
        Spotify <i class="fa fa-spotify"></i>&nbsp;&nbsp;&nbsp;&nbsp;
        StackOverflow <i class="fa fa-stack-overflow"></i>
      </div>
  </div>
  </div>
</div>
</div>
</body>
</html>
