    <div class="container">
      <div id="mycarousel" class="carousel slide" data-ride="carousel" >
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
          <li data-target="#mycarousel" data-slide-to="1"></li>
          <li data-target="#mycarousel" data-slide-to="2"></li>
          <li data-target="#mycarousel" data-slide-to="3"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img class="img-responsive" src="../images/1.png" alt="Efficient Code">
          </div>
          <div class="item">
            <img class="img-responsive" src="../images/2.jpg" alt="Vinnova Program">
          </div>
          <div class="item">
            <img class="img-responsive" src="../images/3.jpg" alt="Vinnova Program">
          </div>
          <div class="item">
            <img class="img-responsive" src="../images/4.png" alt="Vinnova Program">
          </div>
        </div>
      </div>
      <!-- Controls -->
      <a class="left carousel-control" href="#mycarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#mycarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <hr>
    <div class="container">
      <div>
        <blockquote align="center">
          <cite><h2>Continuous Delivery, Enhancing the Quality</h2></cite>
        </blockquote>
      </div>
      <hr>
      <div class="row row-content">
        <div class="col-xs-12 col-sm-5">
          <article>
            <h1>Looking For Industrial Exposure?</h1><span class="label label-danger">New</span>
            <p align="justify">Are you a student that graduated recently, or is going to graduate soon? Join our training
              program. We help you acquire the necessary skills that the industries expect you to have. You also get to work
              on live projects with us under the supervision of our experienced scrum masters. This will help you submit a better resume
              when looking for jobs.</p>
            <i align="center">What are you waiting for? Get started by getting in touch with us!</i>
          </article>
        </div>
        <div class="col-sm-6 pull-right">
          <h1>With Our Expertise, we can help you in:</h1>
          <ul class="imglist">
            <li>Business Development</li>
            <li>Software Development</li>
            <li>Personnel Development</li>
            <li>Code Optimization</li>
          </ul>
          <p align="justify">Hire us when you need team players who master modern frameworks and development environments.
            Let some of the leading experts on Lean & Agile, Scrum and Kanban grow your business!</p>
        </div>
      </div>
    </div>
