<div class="container">
  <form name="myForm" ng-submit="UserRegister()">
    <h1 align="center">Register:</h1>
    <div class="row row-content">
      <div class="col-xs-12 col-sm-9 col-sm-push-1">
        <form class="form-horizontal" role="form">
          <!--adding a basic form-->
          <div class="form-group">
            <label for="name" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="name" name="name" ng-model="user.name" placeholder="Enter your Name"
                     autofocus required/>
              <span ng-show="myForm.name.$error.required && myForm.name.$dirty">required</span>
              <br/>

            </div>
          </div>

          <div class="form-group">
            <label for="email" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="email" name="email" placeholder="Email" ng-model="user.email"
                     required/>

              <span ng-show="myForm.email.$error.required && myForm.email.$dirty">required</span>
              <span ng-show="!myForm.email.$error.required && myForm.email.$error.email && myForm.email.$dirty">invalid email</span>
              <br/>
            </div>
          </div>

          <div class="form-group">
            <label for="password" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="password" name="password" placeholder="Enter password"
                     ng-model="user.password" ng-minlength="4" ng-maxlength="12"
                     ng-pattern="/(?=.*[A-Z])(?=.*[^a-zA-Z])/" required/>
              <span ng-show="myForm.password.$error.required && myForm.password.$dirty">required</span>
              <span
                ng-show="!myForm.password.$error.required && (myForm.password.$error.minlength || myForm.password.$error.maxlength) && myForm.password.$dirty">Passwords must be between 4 and 12 characters.</span>
              <span
                ng-show="!myForm.password.$error.required && !myForm.password.$error.minlength && !myForm.password.$error.maxlength && myForm.password.$error.pattern && myForm.password.$dirty">Must contain one lower &amp; uppercase letter, and one non-alpha character (a number or a symbol.)</span>
              <br/>
            </div>
          </div>

                <!--  <div class="form-group">
                    <label for="password_c" class="col-sm-2 control-label">Confirm password</label>
                    <div class="col-sm-10">
                      <input type="password" class="form-control" id="password_c"  ng-model="non.password_c" name="password_c"  placeholder="Confirm password"
                              required/>
                      <span ng-show="myForm.password_c.$error.required && myForm.password_c.$dirty">Please confirm your password.</span>
                      <span ng-show="!myForm.password_c.$error.required && myForm.password_c.$error.noMatch && user.password.$dirty">{{non.nomatch}}</span>
                      <br />
                    </div>
                  </div>-->

          <!--adding the submit button-->
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </form>
</div>
