<div>
  <form name="myForm" ng-submit="UserRegister()">
{{user}}

    <label for="name">Name</label>
    <input type="text" id="name" name="name" ng-model="user.name" required/>
    <span ng-show="myForm.name.$error.required && myForm.name.$dirty">required</span>
    <br />

    <label for="email">Email</label>
    <input type="email" id="email" name="email" ng-model="user.email" required/>
    <span ng-show="myForm.email.$error.required && myForm.email.$dirty">required</span>
    <span ng-show="!myForm.email.$error.required && myForm.email.$error.email && myForm.email.$dirty">invalid email</span>
    <br />

    <label for="password">Password</label>
    <input type="password" id="password" name="password" ng-model="user.password" ng-minlength="4" ng-maxlength="12" ng-pattern="/(?=.*[A-Z])(?=.*[^a-zA-Z])/" required  />
    <span ng-show="myForm.password.$error.required && myForm.password.$dirty">required</span>
    <span ng-show="!myForm.password.$error.required && (myForm.password.$error.minlength || myForm.password.$error.maxlength) && myForm.password.$dirty">Passwords must be between 4 and 12 characters.</span>
    <span ng-show="!myForm.password.$error.required && !myForm.password.$error.minlength && !myForm.password.$error.maxlength && myForm.password.$error.pattern && myForm.password.$dirty">Must contain one lower &amp; uppercase letter, and one non-alpha character (a number or a symbol.)</span>
    <br />

<!--
    <label for="password_c">Confirm Password</label>
    <input type="password" id="password_c" name="password_c" ng-model="user.password_c" valid-password-c required  />
    <span ng-show="myForm.password_c.$error.required && myForm.password_c.$dirty">Please confirm your password.</span>
    <span ng-show="!myForm.password_c.$error.required && myForm.password_c.$error.noMatch && myForm.password.$dirty">Passwords do not match.</span>
    <br />
-->
    <button type="submit" class="btn" >Submit</button>
  </form>
</div>
