<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>View exam</title>
</head>
<body>
<div ng-controller="viewExamController">


  <h1>Here is the preview of the exam</h1>
  <p> Please verify the questions before posting the exam</p>
  <div class="container" style="border: 0.5px ridge">
    <div>
      <p>Selected questions to host the exam</p>
      <p> {{questionsChose}}</p>


      <ol>
        <li ng-repeat="questionShow in showQuestions">
          <b>{{questionShow.topic}}</b><br>
            <b>Question:</b><br>{{questionShow.question}}<br>
            <b>Options:</b><br>
         <div class="radio">
           <label>
           <input ng-model="selectedoption" type="radio" name="A" ng-value="'opa'">
             A: {{questionShow.opa}}
           </label>
         </div>

          <div class="radio">
            <label>
              <input ng-model="selectedoption" type="radio" name="B" ng-value="'opb'">
              B: {{questionShow.opb}}
            </label>
          </div>

          <div class="radio">
            <label>
              <input ng-model="selectedoption" type="radio" name="C" ng-value="'opc'">
              C: {{questionShow.opc}}
            </label>
          </div>



          {{(selectedoption === questionShow.corr_op) ? '1': '0'}}



        </li>
      </ol>
    </div>
  </div>
</body>
</html>
