<ul class="todo-list">
  <li class="todo-item" ng-repeat="todo in todos" ng-class="{'todo-done': todo.isDone}">
    <label><input type="checkbox" ng-click="check()" ng-model="todo.isDone"/>&nbsp;{{todo.label}}</label>
  </li>


    <form ng-submit="add()">
      Username:<input type="text" id="uname" placeholder="Username" ng-model="uname"/> <br>
      Password:<input type="password" id="passwd" placeholder="Password" ng-model="passwd"/><br>

      <button type="submit" ng-click="login()">Login</button>

    </form>


  </li>
</ul>
