body {
    background-color: #ffffff;
    font-family: sans-serif;
}

.dropdown {
    padding: 13px 30px;
    width: 240px;
    vertical-align: middle;
    margin: 0 auto;
    text-align: center;
}


