<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" ng-app="myModule">
<head>
  <script src="js/jquery-1.12.4.js"></script>
  <script src="js/angular.min.js"></script>
  <script src="js/angular-route.min.js"></script>
 <!-- <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>-->
   <script src="js/myscript.js"></script>
  <script src="js/bootstrap.js"></script>
 <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/umd/carousel.js"></script>
 <script src="src/app/css/twitter-bootstrap-v2/docs/assets/js/bootstrap-transition.js"></script> -->

  <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
  <title>Softhouse AB</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Latest compiled and minified CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="css/myStyles.css" rel="stylesheet">
  <link href="css/font-awesome.min.css" rel="stylesheet">
  <link href="css/bootstrap-social.css" rel="stylesheet">

</head>

<body >
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container ">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/#/">
        <img src="images/Capture.JPG"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <b>Softhouse</b></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right">


      <li><a href="#/home" ><b><span class="glyphicon glyphicon-home"
                                    aria-hidden="true"></span> Home</b></a></li>
      <li><a href="#/exam" ><b><i class="fa fa-laptop" aria-hidden="true"></i> Exam</b></a></li>
      <li><a href="#/takeExam" ><b><span class="glyphicon glyphicon-pencil"
                                        aria-hidden="true"></span> Take Exam</b></a></li>
      <li><a href="#/about" ><b><span class="glyphicon glyphicon-info-sign"></span> About</b></a></li>
      <!--<li><a href="#/contact" ><b><i class="fa fa-phone"></i> Contact</b></a></li>-->
      <li><a href="#/register" ><b><i class="fa fa-phone"></i> Register</b></a></li>

      <li><a href="#/career" data-toggle="modal_carrier" ><b><i class="fa fa-graduation-cap"
                                                                              aria-hidden="true"></i> Career</b></a>
      </li>
      <li><a href="#signin" data-toggle="modal"><b><span class="glyphicon glyphicon-user"></span> SignIn</b></a></li>

    </ul>
    </div>
  </div>
</nav>


<div class="container " id="content" >
  <ng-view></ng-view>
</div>


<footer>
  <div class="container" align="center">
    <div class="row row-footer">
      <div class="col-xs-3 col-sm-3">
        <h3>Follow us At:</h3>
        <div class="nav navbar-nav" style="padding: 40px 10px;">
          <a class="btn btn-social-icon btn-google-plus" href="https://plus.google.com/113530033026707006326/about"><i
            class="fa fa-google-plus"></i></a>
          <a class="btn btn-social-icon btn-facebook"
             href="https://www.facebook.com/pages/Softhouse/119935604746997?fref=ts"><i
            class="fa fa-facebook"></i></a>
          <a class="btn btn-social-icon btn-linkedin" href="https://www.linkedin.com/company/softhouse"><i
            class="fa fa-linkedin"></i></a>
          <a class="btn btn-social-icon btn-twitter" href="https://twitter.com/softhousesh"><i
            class="fa fa-twitter"></i></a>
          <a class="btn btn-social-icon btn-youtube" href="http://youtube.com/"><i class="fa fa-youtube"></i></a>
          <a class="btn btn-social-icon" href="mailto:"><i class="fa fa-envelope-o"></i></a>
        </div>

      </div>
      <div class=" col-xs-5 col-sm-3 col-sm-push-2">
        <h3>Address:</h3><br>
        Campus Grasvik 3A,
        37175,
        Karlskrona,
        Blekinge Lan,
        Sweden. <br>
        <i class="fa fa-envelope"></i>: Email: <a href="mailto:jitendra.jjr@gmail.com">softhouse@gmail.com</a><br><br>
        <div class="btn-group-justified" role="group" aria-label="...">
          <a type="button" class="btn btn-primary" href="tel:+46767702027"><i class="fa fa-phone"></i>Phone</a>
          <a type="button" class="btn btn-info"><i class="fa fa-skype">Skype</i></a>
          <a type="button" class="btn btn-success" href="mailTo:jitendra.jjr@gmail.com"><i class="fa fa-envelope-o"></i>Email</a>

        </div>
      </div>
      <div class=" col-xs-4 col-sm-6" align="right">
        <h3 id="top">Contact Us:</h3><br>
        <ul style="list-style:none">
          <li><i class="fa fa-phone"></i>: +46767702027</li>
          <br>
          <li><i class="fa fa-phone"></i>: +46770202645</li>
          <br>
          <li><i class="fa fa-fax"></i>: +46767703456</li>
          <br>

        </ul>
      </div>
    </div>
  </div>
  <div>
    <p align="center"><i class="fa fa-copyright"></i> Copyright 2016 Softhouse consulting AB.</p>
  </div>
</footer>

<div class="modal fade " id="signin" role="dialog" ng-controller="signInController">
  <div class="modal-content">
    <div class="modal-header">
      <h3>Welcome. Please login.</h3>
    </div>
    <div class="modal-body">
      <div class="container" id="login">
        <div class="row">
          <div class="col-sm-8">
            <form class="form-horizontal " role="form" ng-submit="signInForm()">
              <div class="row">
                <div class="form-group">
                  <label for="username" class="col-sm-4 col-lg-pull-1 control-label">Email:</label>
                  <div class="col-sm-4 col-sm-pull-1">
                    <input type="text" class="form-control" id="username" ng-model="sign.email" name="email" placeholder="Enter email"
                           autofocus>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group">
                  <label for="password" class="col-sm-4 col-lg-pull-1 control-label">Password:</label>
                  <div class="col-sm-4 col-sm-pull-1">
                    <input type="password" class="form-control" ng-model="sign.password" id="password" name="password"
                           placeholder="Enter Password">
                  </div>
                </div>
                <div class="row ">

                </div>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a class="btn btn-default" data-dismiss="modal">Login</a>
      <a class="btn btn-primary" data-dismiss="modal">Cancel</a>
    </div>
  </div>
</div>


</body>
</html>
