<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<link href="myStyles.css" rel="stylesheet">
</head>
<body>
<div id="career">
<p><h2>We are Softhouse</h2>
We are a consultancy company that is excellent at developing solutions with software and developing people and businesses. We’ve been doing this since 1996. Today we are one of the leading companies in Scandinavia within Lean & Agile. We have a total of 200 employees at sites in Stockholm, Gothenburg, Malmö, Karlskrona and Växjö.

Softhouse is a privately-owned Swedish company, that shown growth and profitability every year.
</p>
</div></body>
</html>